// COLOR VARIABLES

$color-primary-light: rgb(121, 38, 255);
$color-primary-light2: rgb(167, 112, 255);
$color-primary-dark: rgb(102, 0, 255);
$color-secondary: #fff;
$color-secondary-dark: rgb(248, 249, 251);
$color-tertiary: rgb(0, 0, 0);

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Lato';

// /* ---- GLOBAL RESET ---- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px /16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-secondary;
  font-weight: 700;
  line-height: 1.6;
}

.App {
  display: grid;
  grid-template-rows:
    [navbar-start] 1fr [navbar-end header-start]
    83rem [header-end howItworks-start] 26rem [howItworks-end store-start] minmax(
      75rem,
      85rem
    )
    [store-end licensing-start] 80rem [licensing-end credit-start] 30rem;
  grid-template-columns: repeat(7, 1fr);
}
