.store-section {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  padding-left: 2rem;
  background-color: $color-secondary;
}

.store {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: center;
  margin-top: -4.98rem;
  z-index: 10;

  &__player {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    //overflow: hidden;
    box-shadow: 0 1px 19px rgba(0, 0, 0, 0.2);
  }

  &__bar-under-player {
    display: flex;
    justify-content: space-between;
    //align-self: center;
    width: 78.3%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: rgba(0, 0, 1, 0.9);
    padding: 2rem;
    box-shadow: 0 2px 19px rgba(0, 0, 0, 0.5);
  }
}

.credit-cards {
  margin-bottom: -0.5rem;
  margin-left: 1rem;
  width: 14rem;
  height: 1.7rem;
}
