.credit-section {
  grid-row: 6 /7;
  grid-column: 1 / -1;
  text-align: center;

  &__text {
    text-align: center;
    margin: 5rem 0 6rem 0;
  }
}

.left-arrow,
.right-arrow {
  color: $color-primary-dark;
  position: absolute;
  top: 40%;
  font-size: 3rem;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  left: 3.2rem;
  margin-left: -10rem;
}

.right-arrow {
  right: 3.2rem;
  margin-right: -10rem;
}

.carousel-container {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

// Handles the white shadow on the sides
.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  height: 30.4rem;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 10%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0) 15%
    );
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 1;
  }
  &:after {
    left: auto;
    right: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0) 15%
    );
  }
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 130%;

  // border for active property
  &:after {
    content: '';
    display: block;
    width: 28.8rem;
    height: 28.2rem;

    border: 5px solid $color-secondary-darker;
    border-radius: 1.5rem;
    position: absolute;
    top: -1.72%;
    left: 37.9%;
    pointer-events: none;
  }
}

/* #region cards slider */
.carousel-content {
  display: flex;
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */

  .card {
    min-width: 20rem;
    opacity: 0.7;
    transform: scale(0.85);
    box-shadow: none;

    transition: opacity 300ms linear, border-color 300ms linear,
      background-color 300ms linear,
      transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}
/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 90%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(90% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

/* #region Card */
/* Card */
.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
  transition: all 0.3s linear;
  cursor: pointer;
  -ms-overflow-style: none;
  scrollbar-width: none;

  //padding-top: 4rem;
  position: relative;
  left: 37.4%;

  &__details {
    opacity: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    &--name {
      margin: -16.5rem auto 0 auto;
      font-size: 2.2rem !important;
      font-weight: 900 !important;
      color: $color-secondary !important;
      z-index: 100;
      text-transform: capitalize;
    }

    // Button for song link on YouTube

    &--btn {
      position: absolute;
      color: $color-tertiary;
      background-color: $color-secondary;
      margin-top: -7rem;
      margin-left: -0.4rem;
      width: 16.6rem;
      border-radius: 0.6rem;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0rem;
      transition: all 0.2s;

      &:hover {
        background-color: $color-secondary;
        color: $color-primary-light;
      }
    }

    &--icons {
      width: 2.3rem;
      height: 2.3rem;
      color: inherit;
      margin-right: 1rem;
    }

    &--link {
      color: inherit;
      text-decoration: none;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  &__images {
    width: 27rem;
    height: 26.95rem;
    border-radius: 1.5rem;
    // box-shadow: 0 1px 1rem 0 rgba(0, 0, 0, 0.6);
    filter: sepia(0%) saturate(100%) brightness(100%) contrast(100%)
      hue-rotate(0deg);
  }
}

/* #endregion */

//Scales the active image
$i: 0;
@for $i from 0 through 7 {
  .carousel-content-wrapper.active-slide-#{$i} #card-#{$i} {
    opacity: 1;
    transform: scale(1.05);

    .card__details {
      z-index: 1;
      opacity: 1;
      transition: 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
  }
}
