.header {
  grid-row: 2 / span 1;
  grid-column: 1 / -1;
  background-image: linear-gradient(
      rgba($color-primary-dark, 0.6),
      rgba($color-tertiary, 0.8)
    ),
    url(../images/splash_studio.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 0rem;

  backface-visibility: hidden;

  &__text-button {
    color: $color-secondary;
    text-align: center;

    margin-top: 30rem;
  }

  &__text--h1 {
    margin-bottom: 0.1rem;
    animation: moveInLeft 1.5s ease-out;
  }

  &__text--h2 {
    animation: moveInRight 1.5s ease-out;
  }
}
