.license-section {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  background-color: $color-secondary-dark;
  color: $color-tertiary;

  &__text {
    text-align: center;
    margin: 5rem 0 6rem 0;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-container {
  border-radius: 1.5rem;
  width: 20%;
  margin: 0 0 5rem 2rem;
  box-shadow: 0 1px 2rem 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 2.8rem;
  overflow: hidden;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.05);
  }

  &__header {
    text-align: center;
    background-color: $color-tertiary;
    padding: 3rem 0 3rem 0;
  }

  &__body {
    &--list {
      margin: 2rem 0 4rem 2rem;
      text-align: left;
      list-style-type: none;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-right: 2rem;
    margin-left: 2rem;
    text-align: center;
    border: 0.2rem solid $color-tertiary;
    padding: 1rem 0.8rem;

    background-color: $color-tertiary;
    color: $color-secondary;
    transition: all 0.2s;

    &:hover {
      background-color: $color-secondary;
      color: $color-primary-light;
    }

    &--icon {
      width: 1.8rem;
      height: 1.8rem;
      margin-left: -0.8rem;
    }

    &--link {
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1.3rem;
      font-weight: 700;
      color: inherit;
    }
  }
}
