// HEADER CONTAINER
.navigation {
  padding: 5rem;
  grid-area: 1 / 1 / span 1 / -1;
  display: flex;
  justify-content: center;
}

// MINDKEYZ LOGO
.mindkeyz {
  text-decoration: none;

  &__header {
    color: $color-secondary;
    margin-right: 20rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  &__header:link,
  &__header:visited {
    color: $color-secondary;
  }

  &__header:hover,
  &__header:active {
    color: $color-primary-dark;
    transform: scale(1.15, 1.15);
  }
}

// MAIN NAVIGATION
.nav {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &__list--link {
    text-decoration: none;
    margin: 0 2rem 0 2rem;
    color: $color-secondary;
  }

  &__list--link:link,
  &__list--link:visited {
    //padding: 0.4rem 0px;
    //border-bottom-style: 2px solid transparent;

    &:hover,
    &:active {
      color: $color-primary-dark;
      //border-bottom: 2px solid $color-secondary;
    }
  }
}

// SOCIAL ICONS
.social {
  display: flex;
  align-items: center;
  margin-left: 20rem;
  transition: fill 0.5s;

  &__links {
    width: 2.5rem;
    height: 2.5rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__icons:hover,
  &__icons:active {
    fill: $color-primary-dark;
  }
}
