.scrollUp {
  position: fixed;
  bottom: 0;
  right: -10rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: right 0.3s;

  &__btn {
    width: 5rem;
    height: 5rem;
    color: $color-secondary-darker;
  }

  &__btn:hover {
    color: rgb(218, 218, 218);
  }

  &__btn:active {
    color: rgb(207, 207, 207);
  }
}

.scrollUp.active {
  right: 0;
}
