.mindkeyz__header {
  font-family: 'Xirod';
  font-weight: lighter;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.nav {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;

  &__list--link {
    letter-spacing: 0.01rem;
  }
}

.header {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 700;

  &__text-button {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2rem;
    }
  }
}

.guide {
  h2 {
    font-size: 2.3rem;
  }

  p {
    font-size: 1.3rem;
  }
}
