.mindkeyz__header {
  font-family: 'Xirod';
  font-weight: lighter;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.nav {
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;

  &__list--link {
    letter-spacing: 0.01rem;
  }
}
